<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{template "title" . }}</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        
        {{block "styles" . }} {{end}} 
    </head>
    <body>
        {{template "_navigation.html" . }}

        <div class="container-fluid">
            {{template "content" . }}
        </div>

        {{block "scripts" . }} {{end}} 
    </body>
</html>