{{ define "title"}}
    All Pages
{{ end }}

{{ define "content"}}
    <h1>All Pages</h1>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
            {{ range $key, $value := .Pages }}
            <tr>
                <th scope="row">{{$value.ID}}</th>
                <td>{{$value.Title}}</td>
                <td><a href="/edit/{{$value.ID}}">edit</a></td>
            </tr>
            {{ end }}
        </tbody>
      </table>
{{ end }}





