{{ define "title"}}
    Editing {{.Title}}  
{{ end }}

{{ define "content"}}

    <h1>Editing {{.Title}}</h1>

    <form action="/save/{{.Title}}" method="POST">
        <div class="form-group">
            <input type="hidden" name="id" value="{{.ID}}" class="form-control"/>
            <input type="hidden" name="title" value="{{.Title}}" class="form-control"/>
        </div>
        <div class="form-group">
            <label>Body</label>
            <textarea name="body" rows="10" cols="80" class="form-control">{{printf "%s" .Body}}</textarea>
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary float-right">
        </div>
    </form>

{{ end }}
