{{ define "title"}}
    Login  
{{ end }}

{{ define "content"}}

    <div class="wrapper">
        <form class="form-signin" action="/loginPost" method="POST">       
          <h2 class="form-signin-heading">Please login</h2>

          <div class="form-group row">
            <label for="inputUsername" class="col-sm-2 col-form-label">Username</label>
            <div class="col-sm-7">
                <input id="inputUsername" type="text" class="form-control" name="username" placeholder="Username" required="" autofocus="" value="{{ .Username }}" />
            </div>
            {{ with .Errors.Username }}
                <div class="col-sm-3">
                    <small id="passwordHelp" class="text-danger">{{ . }}</small>      
                </div>
            {{ end }}
        </div>

        <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-7">
                <input id="inputPassword" type="password" class="form-control" name="password" placeholder="Password" required=""/>
            </div>
            {{ with .Errors.Password }}
                <div class="col-sm-3">
                    <small id="passwordHelp" class="text-danger">{{ . }}</small>      
                </div>
            {{ end }}
        </div>
        
        <label class="checkbox">
            <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
          </label>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>   
        </form>
      </div>

      {{ with .Errors.IncorrectCredentials }}
            <small id="passwordHelp" class="text-danger">{{ . }}</small>      
      {{ end }}
      
{{ end }}
