{{ define "title"}}
   New Page
{{ end }}

{{ define "content"}}

    <h1>Editing {{.Title}}</h1>

    <form action="/save/" method="POST">
        <div class="form-group">
            <label>Title</label>
            <input type="text" name="title" class="form-control"/>
        </div>
        <div class="form-group">
            <label>Body</label>
            <textarea name="body" rows="10" cols="80" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary float-right">
        </div>
    </form>

{{ end }}
