{{ define "title"}}
    Login  
{{ end }}

{{define "styles" }} 
   
{{end}} 

{{ define "content"}}

    <div class="wrapper">
        <form class="form-signin" action="/signupPost" method="POST">       
          <h2 class="form-signin-heading">Please login</h2>

           <div class="form-group row">
                <label for="inputFirstName" class="col-sm-2 col-form-label">First Name</label>
                <div class="col-sm-7">
                    <input id="inputFirstName" type="text" class="form-control" name="firstName" placeholder="First Name" required="" autofocus="" value='{{ .FirstName }}' />
                </div>
                {{ with .Errors.FirstName }}
                    <div class="col-sm-3">
                        <small class="text-danger">{{ . }}</small>      
                    </div>
                {{ end }}
            </div>

            <div class="form-group row">
                <label for="inputLastName" class="col-sm-2 col-form-label">Last Name</label>
                <div class="col-sm-7">
                    <input id="inputLastName" type="text" class="form-control" name="lastName" placeholder="Last Name" required="" autofocus="" value='{{ .LastName }}' />
                </div>
                {{ with .Errors.LastName }}
                    <div class="col-sm-3">
                        <small class="text-danger">{{ . }}</small>      
                    </div>
                {{ end }}
            </div>

            <div class="form-group row">
                <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-7">
                    <input id="inputEmail" type="text" class="form-control" name="email" placeholder="Email Address" required="" autofocus="" value='{{ .Email }}' />
                </div>
                {{ with .Errors.Email }}
                    <div class="col-sm-3">
                        <small class="text-danger">{{ . }}</small>      
                    </div>
                {{ end }}
            </div>
            
            <div class="form-group row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-7">
                    <input id="inputPassword" type="password" class="form-control" name="password" placeholder="Password" required=""/>   
                </div>
                {{ with .Errors.Password }}
                    <div class="col-sm-3">
                        <small class="text-danger">{{ . }}</small>      
                    </div>
                {{ end }}
            </div>

            <div class="form-group row">
                    <label for="inputConfirmPassword" class="col-sm-2 col-form-label">Confirm Password</label>
                    <div class="col-sm-7">
                        <input id="inputConfirmPassword" type="password" class="form-control" name="confirmPassword" placeholder="Confirm Password" required=""/> 
                    </div>
                    {{ with .Errors.ConfirmPassword }}
                        <div class="col-sm-3">
                            <small class="text-danger">{{ . }}</small>      
                        </div>
                    {{ end }}
            </div>

            <label class="checkbox">
                <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
            </label>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>   
        </form>
      </div>
      
{{ end }}
